<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css"　herf="application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<div class="user_edit_main clearfix">
				<div class="user_edit_user">
					<%= form_with model: @user, url: user_path, local: true do |f| %>
						<h2 class="user_edit_user_title">
							画像
						</h2>
						<div>
							<%= f.attachment_field :image %><br>
						</div>
						<h2 class="user_edit_user_title">
							ユーザー名
						</h2>
						<div class="user_edit_user_item">
							<%= f.text_field :name %><br>
						</div>
						<h2 class="user_edit_user_title">
							プロフィール
						</h2>
						<div class="user_edit_user_item">
							<%= f.text_field :profile %><br>
						</div>
					<%= f.submit '変更を保存' %>
					<% end %>
				</div>
			</div>
			<footer>
			</footer>
		</div>
	</body>
</html>

