<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css"　herf="application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class="massage">
			<% if flash[:notice] %>
    			 <p id="notice">
       				<%= flash[:notice] %>
     			</p>
   			<% end %>
   		</div>
   		<div class="main clearfix">
   			<div class="user-sidebar">
   					<div class="user-sidebar-title">
   						ユーザー情報
   					</div>
   					<div class="user-sidebar-item">
	   					<%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "a.png"  %><br>
	   					<div class="user_item_title">
	   						ユーザー名
	   					</div>
	   					<%= @user.name %>
	   					<div class="user_item_title">
	   						プロフィール
	   					</div>
	   					<%= @user.profile %><br>
	   					<%= button_to "プロフィールを編集", edit_user_path(@user.id), method: :get %>
	   				</div>
   			</div>
   			<div class="post-rank">
   				<h2 class="post_title">
   					過去の投稿
   				</h2>
   				<% @posts.each do |post| %>
   					<div class="post_item">
   						<%= attachment_image_tag post, :image, :fill, 200, 200, fallback: "a.png" %><br>
   						<div class="post_item_title">
   							動画タイトル
   						</div>
   						<%= post.title %><br>
   						<div class="post_item_title">
   							ここがオススメ!
   						</div>
   						<%= post.body.truncate(15) %><br>
   						<div class="post_item_title">
   							<i class="far fa-thumbs-up"></i>
							<%= post.favorited_users.count %>
							<i class="far fa-comment"></i>
							<%= post.comments.count %>
						</div>
						<div class="post_item_title">
							<%= button_to "詳しく見る", post_path(post.id), method: :get %>
							<% if post.user == current_user %>
								<%= button_to "削除する", post_path(post.id), method: :delete ,"data-confirm" => "本当に消しますか?" %>
							<% end %>
						</div>
   					</div>
   				<% end %>
   				<div class= "post-page">
					<%= paginate @posts %>
				</div>
			</div>
			<div class="post-new">
				<h2 class="post_title">
					いいねした投稿
				</h2>
				<% @user.favorited_posts.each do |post| %>
					<div class="post_item">
						<%= attachment_image_tag post, :image, :fill, 200, 200, fallback: "a.png" %><br>
						<div class="post_item_title">
							動画タイトル
						</div>
						<%= post.title %><br>
						<div class="post_item_title">
							ここがオススメ!
						</div>
						<%= post.body.truncate(15) %><br>
						<div class="post_item_title">
							投稿ユーザー
						</div>
						<%= post.user.name %><br>
						<div class="post_item_title">
							<i class="far fa-thumbs-up"></i>
							<%= post.favorited_users.count %>
							<i class="far fa-comment"></i>
							<%= post.comments.count %><br>
						</div>
						<div class="post_item_title">
							<%= button_to "詳しく見る", post_path(post.id), method: :get %><br>
						</div>
					</div>
				<% end %>
			</div>
   		</div>
		<span id="back">
			<a href="#">
			<img src="/images/arrow.png">
		</span>
		<footer>
		</footer>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
    	<script type="text/javascript" src="/js/application.js"></script>
	</body>
</html>