<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="app/assets/stylesheets/application.css"　media="all">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<div class="flex_main-box">
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							ユーザー
						</h2>
						<div class="user_show_user_item">
							<%= attachment_image_tag @user, :image, :fill, 240, 240, fallback: "no-image.jpg"  %><br>
							<%= @user.name %><br>
							<br>
							<%= button_to "プロフィールを編集", edit_user_path(@user.id), method: :get %><br>
						</div>
					</div>
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							過去の投稿
						</h2>
						<% @posts.each do |post| %>
							<div class="post_index_item">
								<%= attachment_image_tag post, :image, :fill, 240, 240, fallback: "post-no-image.jpg" %><br>
								<%= post.title %><br>
								<%= post.body %><br>
								<i class="far fa-thumbs-up"></i>
								<%= post.favorited_users.count %>
								<i class="far fa-comment"></i>
								<%= post.comments.count %><br>
								<%= button_to "詳細", post_path(post.id), method: :get %><br>
								<%= button_to "投稿詳細を見る", post_path(post.id), method: :get %><br>
								<% if post.user == current_user %>
									<%= button_to "削除する", post_path(post.id), method: :delete ,"data-confirm" => "本当に消しますか?" %><b>
								<% end %>
								<br>
							</div>
						<% end %>
					</div>
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							いいねした投稿
						</h2>
						<% @user.favorited_posts.each do |post| %>
							<div class="post_index_item">
								<%= attachment_image_tag post, :image, :fill, 240, 240, fallback: "post-no-image.jpg" %><br>
								<%= post.user.name %><br>
								<%= post.title %><br>
								<%= post.body %><br>
								<i class="far fa-thumbs-up"></i>
								<%= post.favorited_users.count %>
								<i class="far fa-comment"></i>
								<%= post.comments.count %><br>
								<%= button_to "詳細", post_path(post.id), method: :get %><br>
								<%= button_to "投稿を見にいく", post_path(post.id), method: :get %><br>
							</div>
						<% end %>
					</div>


				<span id="back">
				      <a href="#">
				        <img src="assets/images/arrow.png">
				    </span>
			</div>
			<footer>
			</footer>
		</div>
	</body>
</html>