<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div>
			<header>
				<div>
					<h1>投稿者ページ</h1>
				</div>
			</header>
			<main>
				<div>
					<h2>ユーザー名</h2>
						<%= @user.name %>
						<%= link_to "プロフィールを編集", edit_user_path(@user.id) %>
				</div>
				<div>
					<h2>投稿一覧</h2>
						<% @posts.each do |post| %>
							<%= link_to post.title, post_path(post.id) %><br>
							<%= post.body %><br>
							<% if post.user == current_user %>
								<%= link_to "削除する", post_path(post.id), method: :delete ,"data-confirm" => "本当に消しますか?" %><br>
							<% end %>
						<% end %>
				</div>
				<div>
					<h2>いいねした投稿</h2>
						<% @user.favorited_posts.each do |post| %>
							<%= post.user.name %><br>
							<%= link_to post.title, post_path(post.id) %><br>
							<%= post.body %><br>
						<% end %>
				</div>
			</main>
			<footer>
			</footer>
		</div>
	</body>
</html>