<html>
	<head>
		<meta charset="utf-8" />
	    <title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <link rel="stylesheet" href="/assets/stylesheets/application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<selection >
			   	<div class="top_text">
					ようこそHello! Youtuberへ<br>
					当サイトはユーザーがオススメのYoutuberを共有するサイトです<br>
					あなたのオススメするYoutuberをぜひユーザーへ共有してみましょう！<br>
					そして、あなた自身も新たなYoutuberとの出会いがきっとあるでしょう
				</div>
			</selection>
			<selection>
				<div class="top_botton">
					<a class="top_botton_item"><%= link_to "ログイン", new_user_session_path %></a>
					<a class="top_botton_item"><%= link_to "新規登録", new_user_registration_path %></a>
					<a class="top_botton_item"><%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %></a>
				</div>
			</selection>
		</div>
	</body>
</html>