<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <link rel="stylesheet" href="app/assets/stylesheets/application.css"　media="all">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<div class="main clearfix">
				<selection >
					<div class="post_index_genre">
						<h2 class="post_index_genre_title">
							ジャンルから検索
						</h2>
						<div class="post_index_genre_select">
							<% @genres.each do |genre| %>
								<%= link_to genre.name, posts_path(genre: genre.id) %><br>
							<% end %>
							<%= paginate @genres %>
						</div>
					</div>
				</selection>
				<selection>
					<div class="post_index_popular">
							<h2 class="post_index_popular_title">
								人気の投稿top3
							</h2>
							<% @posts_rank.each do |post_rank| %>
								<div class="post_index_popular_item">
									<%= attachment_image_tag post_rank, :image, :fill, 120, 120 %><br>
									<%= post_rank.title %><br>
									<%= post_rank.body %><br>
									(いいね数：<%= post_rank.favorited_users.count %>)<br>
									(コメント数：<%= post_rank.comments.count %>)<br>
								</div>
							<% end %>
					</div>
				</selection>
				<selection>
					<div class="post_index_arrival">
						<h2 class="post_index_arrival_title">
							新着投稿
						</h2>
						<% @posts.each do |post| %>
							<div class="post_index_arrival_item">
								<%= attachment_image_tag post, :image, :fill, 120, 120 %><br>
								<%= post.title %><br>
								<%= post.body %><br>
								(いいね数：<%= post.favorited_users.count %>)<br>
								(コメント数：<%= post.comments.count %>)<br>
								<%= button_to "詳細", post_path(post.id), method: :get %><br>
							</div>
						<% end %>
						<%= paginate @posts %>
					</div>
				</selection>
				<selection>
					<div class="post_botton">
						<%= button_to "投稿画面へ", new_post_path, method: :get %>
					</div>
				</selection>
			</div>
		</div>
		<script type="text/javascript" src="app/assets/javascripts/jquery.min.js"></script>
    	<script type="text/javascript" src="app/assets/javascripts/application.js"></script>
	</body>
</html>
