<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="app/assets/stylesheets/application.css"　media="all">
	    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<div class="flex_main-box">
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							ジャンルから検索
						</h2>
						<div class="post_genre_item">
							<% @genres.each do |genre| %>
								<%= link_to genre.name, posts_path(genre: genre.id) %><br>
							<% end %>
						</div>
					</div>
					<div class="flex_main-box_item">
							<h2 class="post_main-box_title">
								人気の投稿top3
							</h2>
							<% @posts_rank.each do |post_rank| %>
								<div class="post_index_item">
									<div class="post_index_item_image">
										<%= attachment_image_tag post_rank, :image, :fill, 240, 240, fallback: "post-no-image.jpg" %>
									</div>
									<div class="post_index_item_title">
										<%= post_rank.title %>
									</div>
									<%= post_rank.body %><br>
									<i class="far fa-thumbs-up"></i>
									<%= post_rank.favorited_users.count %>
									<i class="far fa-comment"></i>
									<%= post_rank.comments.count %><br>
									<%= post_rank.user.name %>
								</div>
							<% end %>
					</div>
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							新着投稿
						</h2>
						<% @posts.each do |post| %>
							<div class="post_index_item">
								<div class="post_index_item_image">
									<%= attachment_image_tag post, :image, :fill, 240, 240, fallback: "post-no-image.jpg" %>
								</div>
								<div class="post_index_item_title">
									<%= post.title %>
								</div>
								<%= post.body %><br>
								<i class="far fa-thumbs-up"></i>
								<%= post.favorited_users.count %>
								<i class="far fa-comment"></i>
								<%= post.comments.count %><br>
								<%= post.user.name %>
								<%= button_to "詳細", post_path(post.id), method: :get %><br>
							</div>
						<% end %>
						<%= paginate @posts %>
					</div>
					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							投稿する
						</h2>
						<div class="post_botton">
							<%= button_to "投稿画面へ", new_post_path, method: :get %>
						</div>
					</div>
			</div>

			<span id="back">
		      <a href="#">
		        <img src="assets/images/arrow.png">
		      </a>
		    </span>

		</div>
		<script type="text/javascript" src="app/assets/javascripts/jquery.min.js"></script>
    	<script type="text/javascript" src="app/assets/javascripts/application.js"></script>
	</body>
</html>
