<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	   <link rel="stylesheet" type="text/css"　herf="application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<% if flash[:notice] %>
     		<p id="notice">
       			<%= flash[:notice] %>
     		</p>
   		<% end %>
			<div class="main clearfix">
				<div class="sidebar">
					<div class="sidebar_box">
							<h2 class="sidebar_title">
								ジャンルから検索
							</h2>
							<div class="sidebar_item">
								<% @genres.each do |genre| %>
									<%= link_to genre.name, posts_path(genre: genre.id) %><br>
								<% end %>
							</div>
						</div>
				</div>
				<div class="post">
					<div class="post-rank">
								<h2 class="post_title">
									人気の投稿top3
								</h2>
								<% @posts_rank.each do |post_rank| %>
									<div class="post_item">
											<div class="post_item_image">
												<%= attachment_image_tag post_rank, :image, :fill, 60, 60 %>
											</div>
											<div class="post_item_title">
												映画タイトル
											</div>
											<%= post_rank.title %>
											<div class="post_item_title">
												ここがオススメ!
											</div>
											<%= post_rank.body %><br>
											<div class="post_item_title">
												投稿ユーザー
											</div>
											<%= post_rank.user.name %><br>
											<div class="reaction">
												<i class="far fa-thumbs-up"></i>
												<%= post_rank.favorited_users.count %>
												<i class="far fa-comment"></i>
												<%= post_rank.comments.count %><br>
											</div>
									</div>
								<% end %>
					</div>
					<div class="post-new">
							<h2 class="post_title">
								新着投稿
							</h2>
							<% @posts.each do |post| %>
								<div class="post_item">
									<div class="post_item_image">
										<%= attachment_image_tag post, :image, :fill, 60, 60 %>
									</div>
									<div class="post_item_title">
										映画タイトル
									</div>
										<%= post.title %>
									<div class="post_item_title">
										ここがオススメ!
									</div>
									<%= post.body %><br>
									<div class="post_item_title">
										投稿ユーザー
									</div>
									<%= post.user.name %><br>
									<div class="reaction">
										<i class="far fa-thumbs-up"></i>
										<%= post.favorited_users.count %>
										<i class="far fa-comment"></i>
										<%= post.comments.count %><br>
									</div>
									<div class="botton">
										<%= button_to "詳しく見る", post_path(post.id), method: :get %>
									</div>
								</div>
							<% end %>
							<%= paginate @posts %>
					</div>
				</div>
			</div>

				</div>

			<span id="back">
		      <a href="#">
		        <img src="/images/arrow.png">
		      </a>
		    </span>

		</div>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
    	<script type="text/javascript" src="/js/jquery.min.js"></script>
	</body>
</html>
