<h1>投稿詳細</h1>

<d1v>Youtuber名</d1v><br>
	<p><%= @post.title %></p><br>
<div>ここがオススメ！</div><br>
	<p><%= @post.body %></p><br>


<div>いいね数: <%= @post.favorites.count %></div>
	<% if current_user.already_favorite?(@post) %>
		<%= button_to 'いいねを取り消す', post_favorite_path(@post), method: :delete %>
	<% else %>
  		<%= button_to 'いいね', post_favorites_path(@post) %>
	<% end %>
<dev>いいねしたユーザー</dev>
	<% @post.favorited_users.each do |user| %>
  		<%= user.name %>
	<% end %>

<div>コメント一覧</div>
	<% @comments.each do |comment| %>
		<%= link_to comment.text, user_path(comment.user.id) %>
	<% end %>

	<%= form_with(model: [@post, @comment], local: true) do |f| %>
		<%= f.text_field :text %><br>
	 	<%= f.submit 'コメントする' %>
	<% end %>

<%= link_to "一覧に戻る", posts_path %>