<h1>投稿詳細</h1>

<d1v>Youtuber名</d1v><br>
	<p><%= @post.title %></p><br>
<div>ここがオススメ！</div><br>
	<p><%= @post.body %></p><br>
<div>ジャンル</div><br>
	<p><%= @post.genre %></p><br>
<div>いいね数: <%= @post.favorites.count %></div>
	<% if current_user.already_favorited?(@post) %>
		<%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
	<% else %>
  		<%= button_to 'いいね', post_favorites_path(@post) %>
	<% end %>
<dev>いいねしたユーザー</dev>
	<% @post.favorited_users.each do |user| %>
  		<%= user.name %>
	<% end %>

<%= link_to "一覧に戻る", posts_path %>