<html>
	<head>
		<title>Portfolio</title>
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
	    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css"　herf="application.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div>
			<div class="flex_main-box">
					<div class="flex_main-box_item">
						<div class="post_show_image">
							<%= attachment_image_tag @post, :image, :fill, 400, 400 %>
						</div>
						<h3 class="post_show_title">
							投稿者<br>
						</h3>
							<div class="post_show_item">
								　<%= link_to @post.user.name, user_path(@post.user_id) %>
							</div>
						<h3 class="post_show_title">
							Youtuber名<br>
						</h3>
							<div class="post_show_item">
								　<%= @post.title %>
							</div>
						<h3 class="post_show_title">
							ここがオススメ！<br>
						</h3>
							<div class="post_show_item">
								　<%= @post.body %>
							</div>
						<h3 class="post_show_title">
							ジャンル<br>
						</h3>
							<div class="post_show_item">
								　<%= @post.genre.name %>
							</div>
					</div>

					<div class="flex_main-box_item">
							<h2 class="post_main-box_title">
								いいね数
							</h2>
							<i class="far fa-thumbs-up"></i>
							=<%= @post.favorites.count %>
								<% if current_user.already_favorited?(@post) %>
									<%= button_to 'いいねを取り消す', post_favorite_path(@post), method: :delete %>
								<% else %>
							  		<%= button_to 'いいね', post_favorites_path(@post) %>
								<% end %>
						<div class="post_main-box_title">
							<h2>いいねしたユーザー</h2>
						</div>
							<% @post.favorited_users.each do |user| %>
						  		<%= link_to user.name, user_path(user.id) %><br>
							<% end %>
					</div>

					<div class="flex_main-box_item">
						<h2 class="post_main-box_title">
							コメント投稿
						</h2>
						<div class="post_comment_post_item">
							<%= form_with(model: [@post, @comment], local: true) do |f| %>
									<%= f.text_area :text %><br>
								 	<%= f.submit 'コメントする' %>
								<% end %>
						</div>
						<h2 class="post_main-box_title">
							コメント一覧
						</h2>
						<div class="post_comment_all">
							<% @comments.each do |comment| %>
								<div class="post_comment">
								ユーザー名:<%= comment.user.name %><br>
								<%= link_to comment.text, user_path(comment.user.id) %><br>
								</div>
							<% end %>
						</div>
					</div>

					<span id="back">
				      <a href="#">
				        <img src="assets/images/arrow.png">
				      </a>
				    </span>
			</div>
		</div>
	<footer>
	</footer>
	</body>
</html>