<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="well">
      <% if user_signed_in? %>
        <div class="col-xs-12 col-md-9">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"マイページ", user_path(current_user.id) %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"投稿ページ", posts_path %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="col-xs-12 col-md-9">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"投稿ページ", posts_path %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"新規登録", new_user_registration_path %>
        </div>
        <div class="col-xs-12 col-md-1">
          <%= link_to"ログイン", new_user_session_path %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
