<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/94b299a21d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" herf="application.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
    <header>
      <div class="box">
        <h1 class="headline">
            <%= link_to"Movie Encounter", root_path  %>
        </h1>
        <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
                <li class="nav-list-item">
                  <i class="fas fa-user"></i>
                  <%= link_to"マイページ", user_path(current_user.id) %>
                </li>
                <li class="nav-list-item">
                  <i class="fas fa-door-open"></i>
                  <%= link_to"ログアウト", destroy_user_session_path, method: :delete %>
                </li>
                <li class="nav-list-item">
                  <i class="fas fa-book-open"></i>
                  <%= link_to"投稿ページ", posts_path %>
                </li>
                <li class="nav-list-item">
                  <i class="fas fa-pencil-alt"></i>
                  <%= link_to "投稿画面へ", new_post_path %>
                </li>
              <% else %>
                <li class="nav-list-item">
                  <i class="far fa-bookmark"></i>
                  <%= link_to"新規登録", new_user_registration_path %>
                </li>
                <li class="nav-list-item">
                  <i class="fas fa-sign-in-alt"></i>
                  <%= link_to"ログイン", new_user_session_path %>
                </li>
                <li class="nav-list-item">
                  <i class="fas fa-user-slash"></i>
                  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
                </li>
              <% end %>
            </ul>
        </nav>
      </div>
    </header>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </body>
  <%= yield %>
</html>